<td>
  <div>{{this.time}}</div>
</td>
<td>
  <div>{{this.address}}</div>
</td>
<td>
  <div>{{this.details}}</div>
</td>
<td>
  <a href="/historique_mapEvents_row/{{this._id}}/delete">delete</a>
</td>