<div class="ui six item menu">

    <img class="item logo-img" src="images/SafeLogo.png" alt="SafeLogo">
    <a class="item" href="/carte">Carte</a>
    <a class="item" href="/associations">Associations</a>
    <a class="item" href="/mes-informations">Mes informations</a>
    <a class="item" href="/signin">Se connecter</a>
    <a class="item" href="/signup">S'enregistrer</a>

</div>