<div>
    <h1>Safe Space</h1>
</div>
<div>
    <ul>
        <li>Carte</li>
        <li> <a href="/assos"> Associations </a> </li>
        <li> <a href="/events"> Évènements </a></li>
        <li> <a href="/testimonials"> Témoignages </a> </li>
        <li>Vidéos</li>
         {{!-- {{#if isLoggedIn}} --}}
          <li>
            <a href="/gestion-evenements">Gestion de mes événements</a>
          </li>
          {{!-- {{/if}} --}}
    </ul>
</div>

<div>
    <ul>
        <li>Se connecter</li>
        <li> S'enregistrer</li>
    </ul>
</div>