{{!-- <div class="nav-flex">

    <img class="logo-img" src="images/SafeLogo.png" alt="SafeLogo">
    <a class="btn from-bottom" href="/carte">Carte</a>
    <a href="/assos"> Associations </a> </li>
    {{#if isLoggedIn}}
    <a href="/gestion-evenements">Gestion de mes événements</a>
    {{/if}}
    <a href="/signin">Se connecter</a></li>
    <a href="/signup">S'enregistrer</a></li>

</div> --}}

<div class="ui six item menu">

  <img class ="item logo-img" src="images/SafeLogo.png" alt="SafeLogo">
  <a class="item" href="/carte">Carte</a>
  <a class="item" href="/assos">Associations</a>
  <a class="item" href="/gestion-evenements">Événements</a>
  <a class="item" href="/signin">Se connecter</a>
  <a class="item" href="/signup">S'enregistrer</a>

</div>