<div>
    <h1>Safe Space</h1>
</div>
<div>
    <ul>
        <li>Carte</li>
        <li>Associations</li>
        <li>Évènements</li>
        <li>Témoignages</li>
        <li>Vidéos</li>
    </ul>
</div>

<div>
    <ul>
        <li> <a href="/signin">Se connecter</a></li>
        <li> <a href="/signup">S'enregistrer</a></li>
    </ul>
</div>