<div>
    <h1>Safe Space</h1>
</div>
<div>
    <ul>
        <li>Carte</li>
        <li>Associations</li>
        <li>Évènements</li>
        <li>Témoignages</li>
        <li>Vidéos</li>
    </ul>
</div>

<div>
    <ul>
        <li>Se connecter</li>
        <li> S'enregistrer</li>
    </ul>
</div>