<h2>Je suis</h2>

<div>
<form method="GET" action="/chooseLambda">
<button><a href="/signupUser"> Une personne lambda</a></button>
</div>

</form>

<div>
<form method="GET" action="/chooseAsso">
<button><a href="/signupAsso"> Une association</a></button>
</div>

</form>