<div class="flex-choice">
<h1>Je suis</h1>
</div>

<div class="flex-choice"><img src="images/oneuser.png" alt="one-user-img"> </div>


<div class="flex-choice">
<button class="ui left attached button">  <a href="/signInUser"> Un utilisateur </a></button>
<button class="right attached ui button"><a href="/signInAsso"> Une association</a></button>
</div>