<h2>Je suis</h2>

<div>
<form method="GET">
<button><a href="/signInUser"> Une personne lambda</a></button>
</div>

</form>

<div>
<form method="GET">
<button><a href="/signInAsso"> Une association</a></button>
</div>

</form>
