<form action="/createAsso" method="POST" enctype="multipart/form-data">
    <h1>Nouvelle Association</h1>
    <label for="name">Nom</label>
    <input type="text" id="name" name="name">

    <label for="address">Adresse</label>
    <input type="text" id="address" name="address">

    <label for="tel">Téléphone</label>
    <input type="text" id="tel" name="tel">

    <label for="mail">E-mail</label>
    <input type="text" id="mail" name="mail">

    <label for="description">Description</label>
    <input type="text" id="description" name="description">

    <label for="link">Lien</label>
    <input type="text" id="link" name="link">

    <label for="image">Image</label>
    <input type="file" id="image" name="image">

    <button>Créer</button>
</form>