<div id="map-form">
    <div id='map' style='width: 1100px; height: 500px;'></div>
    <div class="form-card">
        <form method="POST" action="/map">
            <div class="user-box">
                <label>Date et Heure</label>
                <input id="dateTimeEvent" type="datetime-local" name="time" required="">
            </div>
            <br>
            <div class="user-box">
                <label>Details</label>
                <input id="detailsEvent" type="text" name="details" required="">
            </div>
            <br>
            <div class="user-box">
                <label>Adresse</label>
                <input id="adress" type="text" name="address" required="">
            </div>
            <br>
            <div class="user-box">
                <div id="user-box-hidden">
                    <input id="coordinateLat" type="text" name="coordinates.latitude" required="">
                    <input id="coordinateLong" type="text" name="coordinates.longitude" required="">
             
                </div>
            </div>
            <br>
            <a href="#">
                <input type="submit" class="button button-submit" value="Validate">
            </a>

        </form>
        <button id="return-button">Retour</button>

    </div>
</div>