<div id="map-form">
    <div id='map'></div>
    <div class="form-card">
        <div id="form-map-events">
            <form class="ui form" method="POST" action="/map">
                <div class="field user-box" id="date-et-heure">
                        <label>Date et Heure</label>
                        <input id="dateTimeEvent" type="datetime-local" name="time" required="">
                </div>
                <div class="field user-box">
                        <label>Adresse</label>
                        <input id="adress" type="text" name="address" required="" placeholder="Mon adresse">
                </div>
                <div class="field user-box">
                        <label>Détails</label>
                        <textarea id="detailsEvent" type="text" name="details" required="" placeholder="Détails de l'évenement">
                        </textarea>
                </div>
                <div class="field user-box">
                    <div id="user-box-hidden">
                        <label>Adresse</label>
                        <input id="coordinateLat" type="text" name="coordinates.latitude" required="">
                        <input id="coordinateLong" type="text" name="coordinates.longitude" required="">
                    </div>
                </div>
                <a href="#">
                    <button class="ui secondary button" type="submit" value="Validate">Ajouter</button>
                </a>
            </form>
            <div id="wrap-return-btn">
                <button class="ui secondary button" id="return-button">Retour</button>
            </div>
        </div>
    </div>
</div>

