<div id="map-form">
    <div id='map' style='width: 600px; height: 500px;'></div>
    <div class="login-card">
        <form>
            <div class="user-box">
                <label>Heure</label>
                <input type="Heure" name="" required="">

            </div>
            <div class="user-box">
                <label>Details</label>
                <input type="text" name="" required="">

            </div>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input type="submit" name="login" class="login login-submit" value="login">
            </a>
        </form>
    </div>
</div>
