
  <h3>Gérer ses événements </h3>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Lieu</th>
        <th>Coordonnées</th>
        <th>Détails</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      {{#each mapEvents}}
      <tr>
        {{> dashboard_mapEvents_row}}
      </tr>
      {{/each}}




      {{#unless mapEvents}}
      <tr>
        <td colspan="6">Pas d'événements enregistrés</td>
      </tr>
      {{/unless}}


  
    </tbody>
  </table>
