<h1>Mes informations</h1>

    {{> informations_association}}

  <table id="table-map-event-gestion">
    <thead>
      <tr>
        <th class="table-head-map-event-gestion">Date</th>
        <th class="table-head-map-event-gestion">Lieu</th>
        <th class="table-head-map-event-gestion">Détails</th>
        <th class="table-head-map-event-gestion">Delete</th>
      </tr>
    </thead>

    <tbody>
      {{#each infos.events}}
      <tr>
        {{> historique_mapEvents_row}}
      </tr>
      {{/each}}

      {{#unless infos.events}}
      <tr>
        <td colspan="6">Pas d'événements enregistrés</td>
      </tr>
      {{/unless}}

    </tbody>
  </table>