<h1 class="flex-choice">Se connecter</h1>

<form method="POST" action="/signInUser">
  <div class="ui form flex-sign">

    <div class="field">

      <label for="email" class="email-label">Email</label>
      <input type="email" placeholder="monmail@mail.com" name="email" required value="yo@gmail.com">

    </div>

    <div class="field">

      <label for="password" class="password-label">Mot de passe</label>
      <input type="password" placeholder="••••••" name="password" required value="1234">

    </div>
     <button class="ui secondary button">
  Se connecter
      </button>
       {{> flash_message }}
  </div>
</form>