<h1 class="flex-choice">S'inscrire</h1>

<section id="sign-up-user">
  
  <form method="POST" action="/addUser" id="form-user">
<div class="ui form flex-sign">

    <div class="field field-signup">
      
      <label for="pseudo" class="pseudo-label">Pseudonyme</label>
      <input id="user-pseudo" type="text" placeholder="toto" name="pseudo" required value="Pseudo">

    </div>

    <div class="field field-signup">

      <label for="email" class="email-label">Email</label>
      <input type="email" placeholder="monmail@mail.com" name="email" required>

    </div>

    <div class="field field-signup">

      <label>Mot de passe</label>
      <input type="password" placeholder="••••••" name="password" required>

    </div>

   <button class="ui secondary button">
  S'inscrire
</button>
</div>
  </form>

  {{> flash_message}}
<div class="flex-choice">
  <p>Vous possedez déjà un compte ?
      <a href="/signinUser" class="button-link-form">Se connecter</a>
  </p>
  </div>
</section>
