#main-container-infos-assos {
    border: 1px solid  rgb(175, 175, 175);
    border-radius: 8px;
    display: flex;
    padding: 40px;
    margin: 2vw 5vw 5vw 5vw;
}

.contain-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-text-infos-assos {
    padding: 20px 40px;
    width: 55vw;
    line-height: 1.7em;
    display: flex;
    flex-direction: column;
}

#table-map-event-gestion {
    border: 1px solid black;
    margin: 40px;
  
}

.table-head-map-event-gestion {
    border: 1px solid black;
    width: 200em;
}

#global-contain-infos-assos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-edit-info {
    margin-top: 20px;
}

#container-table-historique {
    display: flex;
    justify-content: center;
}

#table-historique {
    width: 1000px;
    margin: 20px 0 80px 0;
}

#btn-suppr-historique {
    margin-left: 20px;
}

.black-btn {
    color: whitesmoke;
}

.black-btn:hover {
    color: whitesmoke;
}

@media screen and (max-width: 800px)
{
    .hidden-th-historique {
        display: none;
    }
}

@media screen and (max-width: 800px)
{
    #main-container-infos-assos {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px)
{
    #container-text-infos-assos {
        padding: 30px 5px;
    }
}

@media screen and (max-width: 1200px)
{
    #table-historique {
        width: 800px;
    }
}

@media screen and (max-width: 900px)
{
    #table-historique {
        width: 600px;
    }
}

@media screen and (max-width: 760px)
{
    #table-historique {
        width: 400px;
    }
}

@media screen and (max-width: 400px)
{
    #table-historique {
        width: 300px;
    }
}

@media screen and (min-width: 1770px)
{
    #table-historique {
        width: 1400px;
    }
}
